openapi: 3.0.3
info:
  title: Predicta API
  description: >
    API trafic temps réel d'Antananarivo. Récupère des tuiles MVT (Mapbox
    Vector Tile) depuis une source de circulation, les convertit en GeoJSON :
    /traffic (ville entière), /traffic/zone (disque autour d'un centroïde) et
    /traffic/quartier/{quartierId} (un quartier précis, grille polygonale).
    Expose aussi la recherche de quartiers (/quartiers) pour recentrer la carte.
    Aucune persistence du trafic.
  version: 1.0.0
  contact:
    name: Équipe Predicta
    email: yuta-mg@proton.me

servers:
  - url: https://24isak6mtigvgdtrvlqojmkeai0xaxcz.lambda-url.eu-west-3.on.aws
    description: Preproduction
  - url: http://localhost:8080
    description: Local

paths:
  /ping:
    get:
      summary: Healthcheck minimal
      description: Retourne "pong" si l'application est vivante.
      tags:
        - Health
      responses:
        '200':
          description: L'application répond
          content:
            text/plain:
              schema:
                type: string
                example: pong

  /health/email:
    get:
      summary: Test d'envoi d'emails
      description: >
        Envoie 5 emails de test à l'adresse fournie (sujet seul, avec cc,
        avec bcc, avec corps HTML, avec pièce jointe) pour vérifier la
        pipeline d'emails.
      tags:
        - Health
      parameters:
        - name: to
          in: query
          required: true
          description: Adresse email destinataire des tests
          schema:
            type: string
            format: email
            example: test@example.com
      responses:
        '200':
          description: Tous les emails ont été envoyés avec succès
          content:
            text/plain:
              schema:
                type: string
                example: OK

  /traffic:
    get:
      summary: État du trafic live
      description: >
        Récupère en parallèle les tuiles MVT de la source trafic couvrant
        Antananarivo, ne conserve que le layer "speeds", les convertit en
        GeoJSON et les fusionne en une seule FeatureCollection.

        Best-effort : si une ou plusieurs tuiles échouent (timeout, erreur
        réseau), elles sont ignorées et l'en-tête `X-Predicta-Partial: true`
        est posé sur la réponse — le corps reste un GeoJSON valide mais
        géographiquement incomplet. Aucune persistence.
      tags:
        - Trafic
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: >
            FeatureCollection GeoJSON des segments trafic. Toujours 200 même en
            cas de résultat partiel : voir l'en-tête X-Predicta-Partial.
          headers:
            X-Predicta-Partial:
              $ref: '#/components/headers/Partial'
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/TrafficFeatureCollection'
        '401':
          description: Clé API absente ou invalide (en-tête X-API-Key).

  /traffic/zone:
    put:
      summary: Trafic live autour d'un centroïde
      description: >
        Même pipeline que /traffic mais sur une grille disque de rayon réduit
        (scrape.zone-radius, 2 tuiles par défaut) recentrée sur le centroïde
        fourni : couvre le quartier et ses alentours, bien plus léger que la
        ville entière (13 tuiles typiques). PUT car le corps porte le centroïde.
        Best-effort identique à /traffic.
      tags:
        - Trafic
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuartierView'
      responses:
        '200':
          description: >
            FeatureCollection GeoJSON des segments autour du centroïde. Toujours
            200 même en cas de résultat partiel : voir l'en-tête
            X-Predicta-Partial.
          headers:
            X-Predicta-Partial:
              $ref: '#/components/headers/Partial'
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/TrafficFeatureCollection'
        '401':
          description: Clé API absente ou invalide (en-tête X-API-Key).

  /traffic/quartier/{quartierId}:
    get:
      summary: Trafic live d'un quartier précis
      description: >
        Grille polygonale calculée depuis la géométrie du quartier : polygone
        OSM si disponible (rel_*), sinon cellule de Voronoi construite depuis
        les centroïdes en base (couvre les n_*/w_*). Typiquement 1-4 tuiles au
        lieu des 13 du disque centroïde, puis filtrage géométrique des segments
        dans la géométrie. Réponse cachée en mémoire (TTL 45 s,
        stale-while-revalidate, âge via X-Predicta-Age). Repli disque centroïde
        non filtré (X-Predicta-Fallback) si aucune géométrie. Best-effort
        identique.
      tags:
        - Trafic
      security:
        - ApiKeyAuth: []
      parameters:
        - name: quartierId
          in: path
          required: true
          description: >
            Identifiant du quartier, clé primaire de la table `quartiers`
            (rel_<osmId> pour les polygones OSM, n_*/w_* pour les cellules
            Voronoi) ; le nom exact est disponible via /quartiers?q=.
          schema:
            type: string
            example: rel_999999
      responses:
        '200':
          description: >
            FeatureCollection GeoJSON des segments du quartier uniquement.
            Toujours 200 même en cas de résultat partiel : voir les en-têtes
            X-Predicta-Partial / X-Predicta-Fallback / X-Predicta-Age.
          headers:
            X-Predicta-Partial:
              $ref: '#/components/headers/Partial'
            X-Predicta-Fallback:
              $ref: '#/components/headers/Fallback'
            X-Predicta-Age:
              $ref: '#/components/headers/Age'
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/TrafficFeatureCollection'
        '401':
          description: Clé API absente ou invalide (en-tête X-API-Key).
        '404':
          description: Quartier inconnu (absent de la table `quartiers`).

  /quartiers:
    get:
      summary: Recherche de quartiers
      description: >
        Recherche les quartiers de Tana dont le nom contient `q` (insensible à
        la casse), triés par nom. `q` vide ou absent = tous les quartiers.
        Renvoie nom + centroïde, pour recentrer la carte sur le quartier.
      tags:
        - Quartiers
      security:
        - ApiKeyAuth: []
      parameters:
        - name: q
          in: query
          required: false
          description: Sous-chaîne du nom recherchée. Vide = tous.
          schema:
            type: string
            default: ''
            example: ana
      responses:
        '200':
          description: Liste des quartiers correspondants.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuartierView'
        '401':
          description: Clé API absente ou invalide (en-tête X-API-Key).

components:
  headers:
    Partial:
      description: >
        Présent et égal à "true" uniquement si au moins une tuile a échoué et a
        été ignorée (résultat incomplet). Absent sinon.
      schema:
        type: string
        enum: [ 'true' ]
    Fallback:
      description: >
        Présent et égal à "true" si la réponse n'est pas limitée au quartier
        demandé (disque centroïde non filtré servi faute de géométrie). Absent
        sinon.
      schema:
        type: string
        enum: [ 'true' ]
    Age:
      description: >
        Âge de la donnée en millisecondes quand elle est servie depuis le cache
        en mémoire (TTL court, stale-while-revalidate). Absent sur un
        chargement live.
      schema:
        type: integer
        format: int64

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: >
        Clé API d'une application enregistrée (table `applications`). Requise
        sur les endpoints trafic et /quartiers. /ping et /health/email restent
        ouverts.

  schemas:
    QuartierView:
      type: object
      description: Quartier de Tana (nom + centroïde) pour recentrer la carte.
      required: [ name, lon, lat ]
      properties:
        name:
          type: string
          example: Analakely
        lon:
          type: number
          format: double
          example: 47.5210
        lat:
          type: number
          format: double
          example: -18.9100
    TrafficFeatureCollection:
      type: object
      description: FeatureCollection GeoJSON (RFC 7946) des segments trafic.
      required: [ type, features ]
      properties:
        type:
          type: string
          enum: [ FeatureCollection ]
        features:
          type: array
          items:
            $ref: '#/components/schemas/TrafficFeature'

    TrafficFeature:
      type: object
      description: Un segment routier observé, issu du layer "speeds".
      required: [ type, properties, geometry ]
      properties:
        type:
          type: string
          enum: [ Feature ]
        properties:
          $ref: '#/components/schemas/SpeedProperties'
        geometry:
          $ref: '#/components/schemas/LineGeometry'

    SpeedProperties:
      type: object
      description: >
        Propriétés du segment : nom de la route, quartier (enrichissement OSM),
        vitesse et ratio de congestion.
      properties:
        name:
          type: string
          description: >
            Nom de la route (tag MVT "name"). Absent si la source ne le
            fournit pas pour ce segment. Sert à la recherche par route côté
            client.
          example: Avenue de l'Indépendance
        quartierId:
          type: string
          description: >
            Identifiant du quartier contenant le 1er point du segment (format
            rel_<osmId>), posé par l'enrichissement OSM. Absent si l'index OSM
            n'est pas prêt (best-effort). Clé du path /traffic/quartier/{id}.
          example: rel_999999
        speed:
          type: integer
          description: Vitesse observée en km/h.
          example: 32
        rate:
          type: number
          format: double
          description: >
            Ratio vitesse observée / vitesse libre (signal de congestion).
            Calculé par la source contre sa propre vitesse libre, donc non
            dérivable de la baseline OSM.
          example: 0.9

    LineGeometry:
      type: object
      description: >
        Géométrie ligne en WGS84. Une position est un couple [lon, lat].
        Le layer "speeds" ne produit que des lignes : LineString (un segment)
        ou MultiLineString (plusieurs).
      required: [ type, coordinates ]
      properties:
        type:
          type: string
          enum: [ LineString, MultiLineString ]
        coordinates:
          description: >
            LineString -> tableau de positions [[lon,lat], ...].
            MultiLineString -> tableau de lignes [[[lon,lat], ...], ...].
          oneOf:
            - type: array
              items:
                type: array
                items:
                  type: number
                  format: double
                minItems: 2
                maxItems: 2
            - type: array
              items:
                type: array
                items:
                  type: array
                  items:
                    type: number
                    format: double
                  minItems: 2
                  maxItems: 2
